div {
    width: 18rem;
}

p {
    font-family: Arial;
    font-size: medium;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: cornflowerblue;
    font-weight: bolder;
    font-size: large;
}